//Stylings for contact page 
// HEADER SECTION //
.headerRel { position: relative;
    img{
        width: 100%;
        object-fit: cover;
    }
}
.headerAbs {
    position: absolute;
    bottom: -40px;
    left: 160px;
}
// HEADER SECTION ///
// CONTACT SECTION ///
.contact {
    margin: 80px 50px;
}
.contactSec {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.contactInfo { 
    ul {
        background-color: white;
        width: 90%;
        li {
            list-style:none; 
            margin-left: 10%;
            padding-bottom: 5px;
        } 
    }
}
.social li {
    margin-top:30px; 
    display: inline-block;
    color: #f6a823;
}
.email {
    @include font(24px, bold, black, 1px)
}
// CONTACT SECTION //////
//____________________________________________________
@media (max-width:1200px) {
    .contact {
        p{
            line-height: 60px;
        }
    }
    .social li{
        display: none;
    }
    .email{
        padding-top: 25px;
    }
}
@media (max-width:1100px){
    .contactSec {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .contactInfo { 
        ul{ width:100%;
        }
    }
}
@media (max-width:940px){
    .contact{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .contactInfo { 
        ul{margin-top: 60px;}
    }
}

