header nav {
    @include font(20px, bold, black, 1px);
    text-transform: uppercase;
    background-color: #f6a823;
    ul{
        display: flex;
        margin: 0; 
        padding: 0;
        justify-content: center;
        list-style: none;
        align-items: center;
        li{
            margin: 12px 30px;
            a{
                text-decoration: none;
                color: black;  
            }
        }
    }

}
.burgerMenu{
    display: none; 
}

header p{
    @include sophieFont(35px); 
    margin-top: 0;
    margin-bottom: 0;
}

.currentPage {
    color: white;
}
//----------------------------------------------------------//

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }
    .burgerMenu{
        display: block;
        padding:10px 0 10px 10px; 
        border:2px red solid; 
    }
}