@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap');
@import 'setup'; 
@import 'font'; 
@import 'topNav'; 
@import 'contact';
@import 'footer'; 
@import 'button'; 

html {
    background-color: #f0efed;
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
}
.wrapper {
    margin: 0 auto;
    width: 80%;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0; 
}
// HEADER SECTION 

h1{
    @include sophieFont(80px); 
     line-height: 92px;
     margin: 0;
}




