@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap');
@import 'setup'; 

h1{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 92px;
}


